# Welcome to the JULO Data Science Take Home Assignment

JULO provides virtual credit limits to it's customers to meet a wide array of customer financing needs. We have provided you with some data related to our customer's loan applications, loan details and their repayment history.

JULO wants to use this data to improve their risk management, and asks you to use your Data Science skills to derive valuable insights from the data and to build a predictive credit score model to aid in future customer credit decisions.

**Requirements:**
1. You have 7 days to report on the assignment
2. Please use python to solve this exercise. You can use libraries such as: sqlalchemy, pandas, or any other packages of your choice that can help you work on the assignments
3. For visualizations, please use python and its common libraries
4. When you are prompted to use sql, please use sqlalchemy for that assignment

**Deliverables:**
1. Python Jupyter notebook with your code (please comment the code! this let us follow your thought process)
2. In addition, also save your notebooks in .html file and attach it with the actual code

**What are we looking for:**
1. Story from the data (Completeness of analysis/ story)
2. There is no right solution to this assignment
3. Your thought process (Be precise, straight to the point, and remember to comment the code)
4. The rationale behind the decisions you made (Provide justifications to your recommendations)

In [3]:
import numpy as np
import pandas as pd
import sqlalchemy as sa
path = 'data/'

We have already prepared a database for you to query from

In [4]:
 # Create SQL Alchemy Engine
engine = sa.create_engine('sqlite:///database.db')

In [64]:
# Import data as pd.DataFrame
application_df = pd.read_csv(path + 'application.csv')
loan_df = pd.read_csv(path + 'loan.csv')
payment1_df = pd.read_csv(path + 'payment1.csv')
payment2_df = pd.read_csv(path + 'payment2.csv')

In [65]:
# Insert data from pd.DataFrame to SQL Alchemy Engine
application_df.to_sql(name='application', con=engine,if_exists='replace')
loan_df.to_sql(name='loan', con=engine,if_exists='replace')
payment1_df.to_sql(name='payment1', con=engine,if_exists='replace')
payment2_df.to_sql(name='payment2', con=engine,if_exists='replace')

17911

In [66]:
loan_df

,Unnamed: 0,loan_id,loan_amount,loan_duration,installment_amount,fund_transfer_ts,application_id
0,0,2.005021e+12,421632.0,5.0,113000.0,2021-10-28 02:53:53.512501+00:00,2.004027e+12
1,1,2.005021e+12,300000.0,3.0,118000.0,2021-04-10 15:20:20.480261+00:00,2.004026e+12
2,2,2.005021e+12,500000.0,6.0,113000.0,2021-02-23 08:27:53.192023+00:00,2.004026e+12
3,3,2.005021e+12,2500000.0,6.0,566000.0,2021-02-10 02:41:30.887286+00:00,2.004026e+12
4,4,2.005021e+12,500000.0,NaN,196000.0,2021-02-14 01:57:11.613161+00:00,2.004026e+12
...,...,...,...,...,...,...,...
5228,5228,2.005021e+12,500000.0,5.0,140000.0,2021-07-09 03:17:44.062103+00:00,2.004026e+12
5229,5229,2.005021e+12,526895.0,3.0,201000.0,2021-11-11 09:09:24.693283+00:00,2.004028e+12
5230,5230,2.005021e+12,263737.0,3.0,101000.0,2021-11-15 04:27:13.157537+00:00,2.004028e+12
5231,5231,2.005022e+12,700000.0,4.0,217000.0,2022-01-16 02:57:49.484083+00:00,2.004027e+12
5232,5232,2.005021e+12,500000.0,5.0,140000.0,2021-05-24 07:27:34.408160+00:00,2.004026e+12

In [7]:
def query_from_db(sql_long_string, engine):
    """
    Execute SQL Statement and return the queried data as a pandas.DataFrame object

    :param sql_long_string: SQL statement
    :param engine: SQL Alchemy engine
    """
    statement = engine.execute(sql_long_string)
    df = pd.DataFrame(statement.fetchall())
    df.columns = statement.keys()
    return df

### Assignment 1 - Data Preparation and Cleaning

Please do all these tasks in SQL query.

1. Combine all the tables into a single dataframe.
2. Do you notice anything suspicious with the dataframe? If yes, please do a preliminary analysis and fix it. Explain what you found and how you fix it.
3. Do you see any outliers? Explain how do you detect the outlier and how you fix it.
4. Provide your assumptions on the data.

### Assignment 2 - Label analysis

Please do all these analysis in SQL query.
1. We don't want to give credit to `bad` customers (customers that don't pay at all). Can you define what a `bad` customers is from the dataset provided and what is the earliest indicator to say that a customer is `bad`?
2. Based on the label that you defined, what kind of trends do you see in the data that distinguish good and bad customers?
3. Arrange customers by “loan amount” in ascending order and provide cumulative default rates by equal-sized deciles. Each decile should have:
> a. Number of loans <br>
> b. Number of defaulted loans <br>
> c. The default rate for each decile <br>
> d. Cumulative default rate <br>
> e. Min, max, avg “loan amount” <br>

### Assignment 3 - Feature Engineering

Based on your findings in Assignment 2, please create features using SQL that you think could be predictive for a machine learning model.

### Assignment 4 - Data Visualization
Using the features you engineered in Assignment 3, could you visualize the data to show a business user that your features are useful?

### Assignment 5 - Modeling

1. Please build model(s) using the label and features that you have developed.
2. Which metrics do you use? and why? 
3. Explain why your model can be considered as good enough.
4. How can the business use the model?
5. Could you provide which customers/loan we should avoid? Why?
6. If the business would like to achieve 2% cumulative default rate, which loans should we accept?
7. What are the characteristics of a defaulter, and how important are they?

### Assignment 6 - Further Improvement

If you have had more time, what would you recommend to further improve the model and why?

## Assignment 7
At JULO, we have 6 values that we follow, that are following our two core values:

![6 Core Values](julo_values.png)

A. Please choose three Core Values from the 6 values above that you think is your strength, share us one specific example where you showed it

B. Please choose three Core Values from the 6 values above that you think is your weakness, share us one specific example where you showed it

C. Please order the 6 Core Values based on your priority if you work at JULO and why